body {
  background-color: white;
}
.detail-product {
  margin: 50px 0;
}

.detail-product .product-img {
  display: flex;
  
}
.detail-product .product-img .product-img-left {
  box-sizing: border-box;
  margin-right: 20px;
}
.product-img .product-img-left .product-single {
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product-img .product-img-left .product-single .dot {
  width: 79px;
  height: 110px;
  opacity: 0.6
}
.product-img .product-img-left .product-single .active, .dot:hover{
  opacity: 1;
}
.product-img .product-img-right .mySlides{
  display: none;
  height: 500px;
  width: 534px;
  text-align: center;
}
.product-img .product-img-right .mySlides img{
  height: 500px;
  object-fit: cover;
}



.detail-product .product-info {
  margin-bottom: 30px;
}
.detail-product .product-info h1 {
  font-size: 36px;
  letter-spacing: 3.6px;
  line-height: 49.5px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.detail-product .product-info span {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #666666;
}

hr {
  border: 1px solid #e7e7e7;
}
.product-quantity p {
  font-size: 12px;
  line-height: 16.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
  margin-bottom: 13px;
}
.product-quantity .cart-qty {
  margin-bottom: 20px;
}
.product-quantity .cart-qty button {
  border: none;
  background-color: #f4f4f4;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  height: 48px;
  width: 30px;
}
.product-quantity .cart-qty input {
  border: none;
  background-color: #f4f4f4;
  height: 48px;
  width: 30px;
  text-align: center;
}
.product-quantity .cart-qty .btn-minus {
  margin-right: -3px;
  border-right: 1px solid #e7e7e7;
}
.product-quantity .cart-qty .btn-plus {
  margin-left: -4px;
  border-left: 1px solid #e7e7e7;
}
.product-quantity .add-to-cart {
  background-color: white;
  color: #4fb2d7;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.95px;
  line-height: 18px;
  border: 1px solid #4fb2d7;
  height: 48px;
  width: 434px;
  border-radius: 5px;
}
.product-quantity .add-to-cart:hover {
  border: 1px solid #2d9cc6;
  color: #2d9cc6;
}
.product-quantity .description {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.product-quantity .description h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #666666;
  margin-bottom: 20px;
}
.product-quantity .description p {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
.product-quantity .description a {
  text-decoration: none;
  color: #4fb2d7;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}
.product-quantity .description a:hover {
  color: #2d9cc6;
}
.product-quantity .product-share {
  display: flex;
  justify-content: space-between;
}
.product-quantity .product-share p {
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}
.product-quantity .product-share .product-share-icon {
  font-size: 25px;
  
}
.product-quantity .product-share .product-share-icon a {
    color: #666666;
    margin-left: 10px;
}

