.reset-password-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.reset-password-main .wrap-reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 40px;
  margin: 50px;
}
.reset-password-main .wrap-reset-password h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.reset-password-main .wrap-reset-password p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.reset-password-main .wrap-reset-password .form-reset-password {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reset-password-main .wrap-reset-password .form-reset-password input {
  width: 480px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  padding: 13px 15px;
  cursor: text;
  background-color: #f4f4f4;
  border: none;
}
.reset-password-main .wrap-reset-password .form-reset-password button {
  width: 480px;
  height: 48px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #4fb2d7;
  color: white;
  margin-bottom: 20px;
}
.reset-password-main .wrap-reset-password a {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #4fb2d7;
}
.reset-password-main .wrap-reset-password a:hover {
  color: rgb(0, 0, 0, 0.5);
}
